{%extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <h2>Edit {{ task_object.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{task_form.as_p}}
        <button>Save</button>
    </form>
</main>
{% endblock content%}
