{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if not task_list %}
        <p>You have no tasks</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <th>Edit</th>
            </thead>
            {% for task in task_list %}
            <tbody>
                <tr>
                    <td>{{ task.name }}</a></td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                    <td><a href="{% url 'edit_task' task.id %}">Edit</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
