{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="project-detail">
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <a href="{% url 'create_task' %}">Create a new task</a>
        <br><a href="{% url 'edit' project_object.id %}">Edit</a>
        <table>
            {% for task in project_object.tasks.all %}
            <thead>
                <th> Name </th>
                <th> Assignee </th>
                <th> Start date </th>
                <th> Due date </th>
                <th> Is completed </th>
            </thead>
            <tbody>

                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% empty %}
                <p>This project has no tasks</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
