{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="project-list">
        <h1>My Projects</h1>
        <a href="{% url 'create_project' %}">Create a new project</a>
        {% if not project_list %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            {% for project in project_list %}
            <tbody>
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

        {% endif %}

    </div>
</main>
{% endblock content %}
